<a href="https://colab.research.google.com/github/Ramcha6an/23CSBTB29/blob/main/aimllab3_16_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data =pd.read_excel("/content/lab aiml part3.xlsx")
print(data)

    SId   student name   course  contact number  admit year     roll no year  \
0     1  E.Sai  Anurath  B.TECH      8885299732        2023  2303a51560  2nd
1     2       T.Snuhith  B.TECH      9652594966        2023  2303a52108  2nd
2     3       Ch.vineet  B.TECH      9876543210        2023  2303a52445  2nd
3     4       ch.charan  B.TECH      8527419638        2023  2303a51472  2nd
4     5     A.Ramcharan  B.TECH      6987456321        2023  2303a51091  2nd
5     6       A.rithika  B.TECH      6987465123        2023  2303a51498  2nd
6     7       vedha sri  B.TECH      8567432195        2023  2303a51499  2nd
7     8    S.pranav sai  B.TECH      9663355817        2023  2303a51500  2nd
8     9       k.akshith  B.TECH      9887845646        2023  2303a51501  2nd
9    10     adithya raj  B.TECH      8978946545        2023  2303a51502  2nd
10   11       sushwanth  B.TECH      9864896546        2023  2303a51503  2nd
11   12        sushanth  B.TECH      9889846549        2023  2303a51504  2nd
12   13    vivek charan  B.TECH      9889846550        2023  2303a51505  2nd
13   14          ashwin  B.TECH      9889846551        2023  2303a51506  2nd
14   15  sathwik jyothi  B.TECH      9889846552        2023  2303a51507  2nd
15   16       chranvika  B.TECH      9889846553        2023  2303a51508  2nd
16   17        ashritha  B.TECH      9889846554        2023  2303a51509  2nd
17   18     lakum vivek  B.TECH      9889846555        2023  2303a51510  2nd
18   19         dineesh  B.TECH      9889846556        2023  2303a51511  2nd
19   20          pranav  B.TECH      9889846557        2023  2303a51512  2nd

   semister branch
0       3rd  C.S.E
1       3rd  C.S.E
2       3rd  C.S.E
3       3rd  C.S.E
4       3rd  C.S.E
5       3rd  C.S.E
6       3rd  C.S.E
7       3rd  C.S.E
8       3rd  C.S.E
9       3rd  C.S.E
10      3rd  C.S.E
11      3rd  C.S.E
12      3rd  C.S.E
13      3rd  C.S.E
14      3rd  C.S.E
15      3rd  C.S.E
16      3rd  C.S.E
17      3rd  C.S.E
18      3rd  C.S.E
19      3rd  C.S.E

In [2]:
import pandas as pd
data = pd.read_csv("/content/lab aiml part3.csv")
print(data)

    SId   student name   course  contact number  admit year     roll no year  \
0     1  E.Sai  Anurath  B.TECH      8885299732        2023  2303a51560  2nd
1     2       T.Snuhith  B.TECH      9652594966        2023  2303a52108  2nd
2     3       Ch.vineet  B.TECH      9876543210        2023  2303a52445  2nd
3     4       ch.charan  B.TECH      8527419638        2023  2303a51472  2nd
4     5     A.Ramcharan  B.TECH      6987456321        2023  2303a51091  2nd
5     6       A.rithika  B.TECH      6987465123        2023  2303a51498  2nd
6     7       vedha sri  B.TECH      8567432195        2023  2303a51499  2nd
7     8    S.pranav sai  B.TECH      9663355817        2023  2303a51500  2nd
8     9       k.akshith  B.TECH      9887845646        2023  2303a51501  2nd
9    10     adithya raj  B.TECH      8978946545        2023  2303a51502  2nd
10   11       sushwanth  B.TECH      9864896546        2023  2303a51503  2nd
11   12        sushanth  B.TECH      9889846549        2023  2303a51504  2nd
12   13    vivek charan  B.TECH      9889846550        2023  2303a51505  2nd
13   14          ashwin  B.TECH      9889846551        2023  2303a51506  2nd
14   15  sathwik jyothi  B.TECH      9889846552        2023  2303a51507  2nd
15   16       chranvika  B.TECH      9889846553        2023  2303a51508  2nd
16   17        ashritha  B.TECH      9889846554        2023  2303a51509  2nd
17   18     lakum vivek  B.TECH      9889846555        2023  2303a51510  2nd
18   19         dineesh  B.TECH      9889846556        2023  2303a51511  2nd
19   20          pranav  B.TECH      9889846557        2023  2303a51512  2nd

   semister branch  Unnamed: 9
0       3rd  C.S.E         NaN
1       3rd  C.S.E         NaN
2       3rd  C.S.E         NaN
3       3rd  C.S.E         NaN
4       3rd  C.S.E         NaN
5       3rd  C.S.E         NaN
6       3rd  C.S.E         NaN
7       3rd  C.S.E         NaN
8       3rd  C.S.E         NaN
9       3rd  C.S.E         NaN
10      3rd  C.S.E         NaN
11      3rd  C.S.E         NaN
12      3rd  C.S.E         NaN
13      3rd  C.S.E         NaN
14      3rd  C.S.E         NaN
15      3rd  C.S.E         NaN
16      3rd  C.S.E         NaN
17      3rd  C.S.E         NaN
18      3rd  C.S.E         NaN
19      3rd  C.S.E         NaN

In [3]:
import pandas as pd
data = pd.read_csv("/content/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [6]:
import pandas as pd
data = pd.read_table("/content/aiml lab 3.txt")
print(data)

    SId   student name   course  contact number  admit year     roll no year  \
0     1  E.Sai  Anurath  B.TECH      8885299732        2023  2303a51560  2nd
1     2       T.Snuhith  B.TECH      9652594966        2023  2303a52108  2nd
2     3       Ch.vineet  B.TECH      9876543210        2023  2303a52445  2nd
3     4       ch.charan  B.TECH      8527419638        2023  2303a51472  2nd
4     5     A.Ramcharan  B.TECH      6987456321        2023  2303a51091  2nd
5     6       A.rithika  B.TECH      6987465123        2023  2303a51498  2nd
6     7       vedha sri  B.TECH      8567432195        2023  2303a51499  2nd
7     8    S.pranav sai  B.TECH      9663355817        2023  2303a51500  2nd
8     9       k.akshith  B.TECH      9887845646        2023  2303a51501  2nd
9    10     adithya raj  B.TECH      8978946545        2023  2303a51502  2nd
10   11       sushwanth  B.TECH      9864896546        2023  2303a51503  2nd
11   12        sushanth  B.TECH      9889846549        2023  2303a51504  2nd
12   13    vivek charan  B.TECH      9889846550        2023  2303a51505  2nd
13   14          ashwin  B.TECH      9889846551        2023  2303a51506  2nd
14   15  sathwik jyothi  B.TECH      9889846552        2023  2303a51507  2nd
15   16       chranvika  B.TECH      9889846553        2023  2303a51508  2nd
16   17        ashritha  B.TECH      9889846554        2023  2303a51509  2nd
17   18     lakum vivek  B.TECH      9889846555        2023  2303a51510  2nd
18   19         dineesh  B.TECH      9889846556        2023  2303a51511  2nd
19   20          pranav  B.TECH      9889846557        2023  2303a51512  2nd

   semister branch  Unnamed: 9
0       3rd  C.S.E         NaN
1       3rd  C.S.E         NaN
2       3rd  C.S.E         NaN
3       3rd  C.S.E         NaN
4       3rd  C.S.E         NaN
5       3rd  C.S.E         NaN
6       3rd  C.S.E         NaN
7       3rd  C.S.E         NaN
8       3rd  C.S.E         NaN
9       3rd  C.S.E         NaN
10      3rd  C.S.E         NaN
11      3rd  C.S.E         NaN
12      3rd  C.S.E         NaN
13      3rd  C.S.E         NaN
14      3rd  C.S.E         NaN
15      3rd  C.S.E         NaN
16      3rd  C.S.E         NaN
17      3rd  C.S.E         NaN
18      3rd  C.S.E         NaN
19      3rd  C.S.E         NaN

In [8]:
import pandas as pd
data =pd.read_csv("/content/games_dataset (1).csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]